<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rolex.tips.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.rolex.tips.entity.Role">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <collection property="users" column="id" select="com.rolex.tips.mapper.UserRoleMapper.getUsersByRoleId"/>
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        select * from t_role
    </select>

</mapper>